extends layouts/layout

mixin Input(type,name,label)
    div.row.input-row
        div.col.sm12.md4
            label=label
        div.col.sm12.md8
            input(type=type, name=name)

block content
    main#Body


        div.row
            div.sm12.sm-centered.md6.col
                form(action="/login", method="POST" id="LoginForm")
                    fieldset
                        legend Login
                        +Input("email", "username", "Username")
                        +Input("password", "password", "Password")

                        div.text-right.row
                            div.col.sm12
                                button(type="submit" class="button") Submit