<div class="row">
	<div class="col sm6">
	<form name="newItemForm">
		<div class="row">
			<div class="col sm3">
				<label for="Slug">Slug</label>
			</div>
			<div class="col sm9">
				<input id="Slug" type="text"  ng-model="formSlug" placeholder="my-slug" required/>
			</div>
		</div>

		<div class="row">
			<div class="col sm3">
				<label for="Destination">Destination</label>
			</div>
			<div class="col sm9">
				<input id="Destination" type="url" ng-model="formDestination" placeholder="http://" required/>
			</div>
		</div>

		<button class="button success" ng-click="list.create()">Save</button>
	</form>
	</div>
</div>

<div class="row">
	<table class="redirect-list" width="100%">
		<thead>
		<tr>
			<th>Slug</th>
			<th>Destination</th>
			<th>Author</th>
			<th><!-- Actions --></th>
		</tr>
		</thead>

		<tbody>
		<tr ng-hide="list.items.length">
			<td colspan="4"><div class="alert-box info">No items exist.</div></td>
		</tr>



		<tr class="redirect-item" ng-repeat="(i,item) in list.items" id="{{item._id}}">

			<td><input type="text" value="{{item.slug}}" ng-model="item.slug"/></td>
			<td><input type="text" value="{{item.destination}}" ng-model="item.destination"/></td>
			<td><a href="mailto:{{item.author.email}}">{{item.author.first_name}} {{item.author.last_name}}</a></td>

			<td class="actions">
				<a class="link" ng-click="list.update(item)"><i class="lnr-floppy-disk"></i></a>
				<a class="link alert" ng-click="list.delete(item,i)"><i class="lnr-trash3"></i></a>
			</td>
		</tr>


		</tbody>
	</table>
</div>

